<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
  <title>About</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/knowmore.css' %}" />
  <link rel="stylesheet" href="{% static 'css/NavbarStyles.css' %}">
</head>

<body>

   <!----------- NavBar Section------------> 
   {% include 'shared/navbar.html' %}

  <div class="welcome-area" id="welcome">
    <div class="header-text">
      <div class="container">
        <div class="row">
          <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
            <h1>
              We present a <strong>safe and inclusive</strong>  platform 
              for <strong>LGBTQ+ people</strong> where the users can openly talk about their <strong> sexual health and hygiene </strong> and share their <strong>lifehacks</strong> and experiences with each other.
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section home-feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12"
              data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
              <div class="features-small-item">
                <div class="icon">
                  <i><img src="../../static/images/disable.png" alt="" /></i>
                </div>
                <h5 class="features-title">Practicality</h5>
                <p>
                  AI based chatbot and content to answer practical challenges
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12"
              data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
              <div class="features-small-item">
                <div class="icon">
                  <i><img src="../../static/images/eye.png" alt="" /></i>
                </div>
                <h5 class="features-title">Visibility</h5>
                <p>Better content visibility classified by categories</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12"
              data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
              <div class="features-small-item">
                <div class="icon">
                  <i><img src="../../static/images/featured-item-01.png" alt="" /></i>
                </div>
                <h5 class="features-title">Community</h5>
                <p>
                  Safe and genuine connections between members
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section padding-top-70 padding-bottom-0" >
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="../../static/images/boy.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
          <div class="left-heading">
            <h2 class="section-title">Meet John</h2>
          </div>
          <div class="left-text">
            <p>John had always been attracted to both men and women, but he felt a nagging worry about his sexual health and hygiene. He had heard stories of sexually transmitted infections and diseases, and he didn't want to risk his health or the health of any of his partners.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section padding-bottom-10">
    <div class="container">
      <div class="row2">
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
          <div class="left-heading">
            <h2 class="section-title">What John needs?</h2>
          </div>
          <div class="left-text">
            <p>As a bisexual man, John had always felt like he didn't quite fit in anywhere. He felt excluded from the mainstream community, and often didn't feel fully accepted by the gay community either. He was always looking for a safe space discussion group for LGBTQ individuals to talk about sexual health where he could feel a sense of belonging. </p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
          data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
          <img src="../../static/images/boy2.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
      </div>
    </div>
  </section>
  <section class="section padding-top-70 padding-bottom-10" id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="../../static/images/boy3.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
          <div class="left-heading">
            <h2 class="section-title">John finds out about PRYDE</h2>
          </div>
          <div class="left-text">
            <p>He finds out about <strong>pryde</strong> and there, he felt free to share his concerns and ask questions about his sexual health in a non-judgmental and supportive environment. He learned about safe sex practices and how to protect himself and his partners from sexually transmitted infections and diseases. 
              </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section padding-top-70 padding-bottom-10">
    <div class="container">
      <div class="row2">
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
          <div class="left-heading">
            <h2 class="section-title">John can now discuss problems with PrydeBot</h2>
          </div>
          <div class="left-text">
            <p>PrydeBot has been designed to answer all queries related to sexual health and hygiene. The bot has a personality of its own. Our team has designed the character and the animations of the bot.</p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
          data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
          <img src="../../static/images/boy4.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
      </div>
    </div>
  </section>
  <section class="section padding-top-70 padding-bottom-10" id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="../../static/images/msg.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
          <div class="left-heading">
            <h2 class="section-title">John can connect with like minded people</h2>
          </div>
          <div class="left-text">
            <p>A forum is deisgned for people to put forward best sexual practices they have come across. Community members can connect and support each other. John can now make friends along with motivating and
              helping others in his community. He no long feels alone.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="hr"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section padding-top-70 padding-bottom-10">
    <div class="container">
      <div class="row2">
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
          <div class="left-heading">
            <h2 class="section-title">John can educate himself with PrydeScape</h2>
          </div>
          <div class="left-text">
            <p>PrydeScape is being developed using Unity3D technology to make the Sexual Heath Education more interesting. Knowing one’s body and proper hygiene is important for leading a healthy life, both physically and mentally. </p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
          data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
          <img src="../../static/images/boy4.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
      </div>
    </div>
  </section>

  <section class="section padding-top-70 padding-bottom-10" id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="../../static/images/boy3.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
          <div class="left-heading">
            <h2 class="section-title">John can read more from our "Reading area".</h2>
          </div>
          <div class="left-text">
            <p>Reading area shows the top blogs related to sexual health and hygiene for LGBTQ+ on the internet. 
              Search filtration is essential to ensure that only the required blogs which are related to LGBTQ+ and sexual health are fetched through our custom built API. 
              </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="section padding-top-70 padding-bottom-10">
    <div class="container">
      <div class="row2">
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
          <div class="left-heading">
            <h2 class="section-title">John can love himself more from our "You Matter" Self Love Booth.</h2>
          </div>
          <div class="left-text">
            <p>Having a self-love arena with entertaining things on how he can explore his identity and sexuality can help in providing him access to care for their mind as well. 
            </p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
          data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
          <img src="../../static/images/boy4.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
      </div>
    </div>
  </section>
  
</body>

</html>